<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sslakka</title>

    <!-- Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="copyright" content="Copyright (c) Sslakka and its contributors" />

    <!-- Author / Developer -->
    <meta name="author" content="Herdy Handoko" />
    <link rel="author" href="~/humans.txt" />
</head>
<body>
    @RenderBody()
</body>
</html>